.text {
  font-size: calc(10px + 1vmin);
  font-family: "Poppins", sans-serif;
}

.rightSide {
  background-image: url(../../../../../../assets/images/back-ground2.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.rightContent {
  border-radius: 15px;
  background-color: rgba(255, 240, 216, 0.53);
  backdrop-filter: blur(5px);
}
