:host {
  height: min(600px, 90vh);
  z-index: 600;
}

#logout {
  background-color: #2b5557;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_icon {
  color: #2b5557;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  :host {
    width: 100%;
    height: 64px;
  }
}

// h4{
//   transition: all 5s linear;
// }
// .tthidden {
//   display: none;
// }
// .ttblock {
//   display: block;
// }
.messagesNotification {
  // background-color: burlywood;
}

.notification_count::after {
  content: attr(notification-count);
  z-index: 2;
  position: absolute;
  top: -12px;
  left: -12px;
  font-size: 12px;
  background: #3e747d;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}

// .navbar_icon::after {
//   content: attr(notification-count);
//   z-index: 2;
//   position: absolute;
//   top: -12px;
//   left: -12px;
//   font-size: 12px;
//   background: #3e747d;
//   color: #fff;
//   width: 20px;
//   height: 20px;
//   text-align: center;
//   line-height: 20px;
//   border-radius: 50%;
//   box-shadow: 0 0 1px #333;
// }
// :host ::matcha-notifications {
//   transform: translateX(-100%);
// }

.notification {
  position: absolute;
  z-index: 600;
  transition: 1s ease-in-out;
}

.animated-box {
  left: 100%;
}

.desinimated-box {
  left: -260%;
}

// medium screen
@media screen and (max-width: 768px) {
  .notification {
    position: absolute;
    left: 0;
    bottom: 50vh;
    // top: -100%;
    width: 100%;
    height: 100%;
  }
  #logout {
    background-color: transparent;
  }
}

// @media screen and (max-width: 1023px) {
//   .animated-box {
//     position: absolute;
//     left: 0;
//     // top: -100%;
//     width: 100%;
//     height: 100%;

//   }
//   #logout {
//     background-color: transparent;
//   }
// }
