<div
  [ngClass]="{
    'hidden lg:!flex': !(chatIn$ | async),
    block: (chatIn$ | async)
  }"
  class="navbar flex h-16 w-full items-center justify-evenly divide-slate-200 border-y bg-white relative lg:left-0 lg:h-full lg:w-fit lg:flex-col lg:rounded lg:p-4"
>
  <div class=""></div>
  <matcha-profile></matcha-profile>
  <div class="flex justify-between lg:h-[60%] lg:flex-col">
    <div
      [attr.notification-count]="unreadMessagesCount$ | async"
      class="messagesNotification relative flex cursor-pointer items-center justify-between"
      (click)="Navigate('chat')"
    >
      <i class="material-icons icons text-gray-600"> forum </i>
      <h4  class="hidden w-full md:m-2 lg:block">
        Messages
      </h4>
    </div>
    <div
      [attr.notification-count]="notificationCount"
      class="messagesNotification relative flex cursor-pointer items-center justify-between"
      (click)="Notifications()"
    >
      <i class="material-icons icons text-gray-600"> notifications </i>
      <h4  class="hidden w-full md:m-2 lg:block">
        Notifications
      </h4>
    </div>
    <div
      class="flex cursor-pointer items-center justify-between"
      (click)="Likers()"
    >
      <i class="material-symbols-outlined text-gray-600">volunteer_activism</i>
      <h4  class="hidden w-full md:m-2 lg:block">
        Browse
      </h4>
    </div>
    <div
      class="flex cursor-pointer items-center justify-between"
      (click)="Likers()"
    >
      <i class="material-symbols-outlined text-gray-600">heart_plus</i>
      <h4  class="hidden w-full md:m-2 lg:block">
        Likers
      </h4>
    </div>
    <div
      class="flex cursor-pointer items-center justify-between"
      (click)="Messages()"
    >
      <i class="material-symbols-outlined text-gray-600">diversity_1</i>
      <h4  class="hidden w-full md:m-2 lg:block">
        Matches
      </h4>
    </div>
  </div>
  <div class="flex w-full cursor-pointer items-center justify-center">
    <i class="material-icons icons text-gray-600"> logout </i>
    <h4  class="hidden w-full md:m-2 lg:block">
      Logout
    </h4>
  </div>
    <matcha-notifications
    [ngClass]="{
      'desinimated-box ': !(notificationOn),
      'animated-box': (notificationOn)
    }"
    ></matcha-notifications>
</div>
