<div class="notifications absolute z-50 h-full w-full rounded">
  <div
    class="notifications__header flex h-12 items-center justify-center rounded-t-sm font-mono"
  >
    <h2 class="notifications__title">Notifications</h2>
  </div>
  <div class="notifications__body">
    <div class="notifications__list">
      <!-- <matcha-notification-item
        *ngFor="let notification of notifications"
        [notification]="notification"
      >
      </matcha-notification-item> -->
      <ng-container *ngFor="let notification of notifications">
        <ng-container
          *ngIf="
            notification.type === notificationType || notificationType === 'all'
          "
        >
          <matcha-notification-item
            [notification]="notification"
          ></matcha-notification-item>
        </ng-container>
      </ng-container>
      <!-- <div class="notifications__item">
        <div class="notifications__item__icon">
          <i class="material-icons">notifications</i>
        </div>
        <div class="notifications__item__content">
          <div class="notifications__item__content__title">
            Notification title
          </div>
          <div class="notifications__item__content__description">
            Notification description
            {{ test$ | async | json }}
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="notifications__footer">
    <button class="notifications__footer__button">View all</button>
  </div> -->
</div>
