.rating {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heart {
  font-size: 20px;
}

.heart--active {
  color: #2b5557;
  // color: gold;
}

.mybgcolor1 {
  background-color: rgba(227, 233, 233, 1);
}

.dispayFameRating {
  transform: translateY(2.5rem);
}

.hideFameRating {
  transform: translateY(0rem);
}

.select-box-container{
    transition: 0.5s ease-out;
}

i{
    font-size: 17px;
}