<div class="h-screen">
<div class="flex h-1/2  items-center justify-center">
  <div
    class="border-2 bg-orange-100 shadow-md w-1/2 h1/2 p-12 flex flex-col items-center justify-center rounded-lg"
  >
    <img
    class="mb-4"
      ngSrc="../../../../../../assets/images/matcha-logo.png"
      width="200"
      height="100"
      priority
    />
    <h1 class="font-bold text-2xl mb-4">Hi Username</h1>
    <p>
      You are close to complete your signup , verify your account by checking
      the link in your mail
    </p>
  </div>
</div>
</div>