<div class="h-screen ">
<div class="flex h-1/2  items-center justify-center">
  <div
    class="bg-secondary-color w-1/2 h1/2 p-12 flex flex-col items-center justify-center rounded-lg"
  >
    <img
    class="mb-5"
      ngSrc="../../../../../../assets/images/full logo.svg"
      width="200"
      height="100"
      priority
    />
    <h1 class="font-bold text-2xl mb-4 text-text-color">Hi {{this.username}}</h1>
    <p class="text-text-color">
      You are close to complete your signup , verify your account by checking
      the link in your mail
    </p>
  </div>
</div>
</div>