.icons {
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    color: #3e747d;
    scale: 1.1;
  }
}

.settings {
  background-color: rgb(227, 233, 233);
}
.search-icon {
  color: #6b6969;
  font-size: 1.2rem;
  font-weight: 500;
}

input {
  outline: none;
  color: #6b6969;
}

:host {
  width: 300px;
}

@media screen and (max-width: 1023px) {
  :host {
    width: 100%;
  }
}
.contacts {
  background: #f9faff;
}
