<div class="h-full overflow-hidden rounded-l-2xl">
  <div class="settings flex h-16 justify-between rounded bg-primary-color">
    <div class="text flex items-center">
      <i class="material-icons icons text-white"> sync </i>
      <i
        class="material-icons icons block text-white lg:hidden"
        (click)="showConversation()"
      >
        chat
      </i>
      <i class="material-icons icons text-white"> menu </i>
    </div>
    <div class="logout text flex items-center">
      <i class="material-icons icons text-white"> logout </i>
    </div>
  </div>
  <div
    class="search-box border-gray-4200 flex h-12 justify-center border-r bg-white px-2 py-1 text-gray-800"
  >
    <div
      class="flex-start relative flex w-3/4 items-center overflow-hidden rounded-lg"
    >
      <i class="material-icons search-icon absolute ml-2 rounded-lg">
        search
      </i>
      <!-- <i class="material-icons icons"> more_vert </i> -->
      <input
        type="text"
        placeholder="Search a contact"
        class="w-full rounded-lg p-1 indent-7"
      />
    </div>
  </div>
  <div
    class="online__contacts border-gray-4200 flex border-r bg-white p-2 rtl:space-x-reverse"
  >
    <img
      *ngFor="let contact of onlineContacts"
      class="contact"
      src="{{ contact.avatar }}"
      alt="avatar"
      class="h-10 w-10 rounded-full border-2 border-white"
    />
  </div>
  <div class="contacts border-gray-4200 h-full overflow-y-auto border-r">
    <matcha-contact
      class="contact "
      *ngFor="let contact of contacts"
      [contact]="contact"
      (click)="switToConversation(contact.id)"
    >
      <span name class="md:block">{{ contact.name }}</span>
      <p message class="overflow-hidden truncate whitespace-nowrap">
        {{ contact.lastMessage }}
      </p>
    </matcha-contact>
  </div>
</div>
