.icons {
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    color: #3e747d;
    scale: 1.1;
  }
}

.settings {
  // background-color: rgb(227, 233, 233);
}

input[type="text"] {
  width: 100%;
  padding: 8px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
  background-color: #f5f7f9;
  color: rgb(1, 1, 1);
}
.search-icon {
  font-size: 1.2rem;
  font-weight: 500;
}

input {
  outline: none;
  color: #6b6969;
}

:host {
  width: 300px;
}

@media screen and (max-width: 1023px) {
  :host {
    width: 100%;
  }
}
.contacts {
  background: #fff;
}

.contact {
  background-color: #3e747d !important;
}
