<div class="h-full overflow-hidden rounded-l-2xl border-r">
  <div class="settings flex h-16 justify-between rounded bg-gray-200">
    <div class="text flex items-center">
      <i class="material-icons icons text-primary-color"> sync </i>
      <i
        class="material-icons icons block text-primary-color lg:hidden"
        (click)="switchToConversation()"
      >
        chat
      </i>
      <i class="material-icons icons text-primary-color"> menu </i>
    </div>
    <div class="logout text flex items-center">
      <i class="material-icons icons text-primary-color"> logout </i>
    </div>
  </div>
  <div
    class="search-box flex h-12 justify-center bg-gray-100 px-2 py-1 text-gray-800"
  >
    <div
      class="flex-start relative flex w-3/4 items-center overflow-hidden rounded-lg"
    >
      <i class="material-icons search-icon absolute ml-2 rounded-lg">
        search
      </i>
      <!-- <i class="material-icons icons"> more_vert </i> -->
      <input
        type="text"
        placeholder="Search a contact"
        class="w-full rounded-lg p-1 indent-7"
      />
    </div>
  </div>
  <div class="contacts h-full overflow-y-auto">
    <matcha-contact
      *ngFor="let contact of contacts"
      [contact]="contact"
      (selectedContact)="selectContact($event)"
      class="contact"
    >
      <span name class="md:block">{{ contact.name }}</span>
      <p message class="overflow-hidden truncate whitespace-nowrap">
        {{ contact.lastMessage }}
      </p>
    </matcha-contact>
  </div>
</div>
