:host {
  height: 100%;
  width: 70%;
}

.browse {
  background: #f9faff;
}

.show-button {
  // background-color: #2b5557;
  box-shadow: 0 0 5px #2b5557;
}

@media screen and (max-width: 1023px) {
  :host {
    width: 100%;
    overflow: scroll;
  }
}

.browse {
  height: 100%;
}

.search {
  margin-bottom: 12px;
}

.search_result {
  max-height: 90%;
  min-height: 90%;
  overflow-y: scroll;
  padding: 10px;
}

.arrow {
  font-size: 20px;
}
