.contact{
    cursor: pointer;
    &:hover{
        background-color: #6591f0;
    }
    width: 100%;
    // &:not(:focus){
    //     background-color: #f0f0f1;
    // }
}
.contact::after{
    content: attr(notification-count);
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3e747d;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
