<div class="chat shadow-s relative h-full w-full">
  <div class="flex h-full rounded-2xl">
    <matcha-contact-panel
      (changeContact)="changeContact($event)"
      [ngClass]="{
        'hide-panel': !(switchToConversation$ | async) && contact.id !== 0,
        'show-panel': (switchToConversation$ | async) || contact.id === 0
      }"
      class="hidden h-full lg:!block lg:w-3/12"
    >
    </matcha-contact-panel>
    <matcha-conversation-panel
      [friendContact]="contact"
      [ngClass]="{
        'show-panel': !(switchToConversation$ | async),
        'hide-panel': (switchToConversation$ | async) || contact.id === 0
      }"
      class="w-full md:w-8/12 lg:!block lg:w-10/12"
    ></matcha-conversation-panel>
  </div>
</div>
