<div class="chat bg-white rounded relative">
  <div class="flex h-full">
    <!-- {{(switchToConversation$ | async)  && windowWidth <= 768}} -->
    <matcha-contact-panel
      (changeContact)="changeContact($event)"
      [contacts]="contacts"
      [ngClass]="{
        'hide-panel': (switchToConversation$ | async),
        'show-panel': !(switchToConversation$ | async),
      }"
      class="h-full hidden md:!block w-full md:w-4/12 lg:w-3/12"
    >
    </matcha-contact-panel>
    <matcha-conversation-panel
      [friendContact]="contact"
      [ngClass]="{
        'show-panel': (switchToConversation$ | async) ,
        'hide-panel': !(switchToConversation$ | async) ,
      }"
      class="h-full w-full md:!block md:w-8/12 lg:w-10/12"
    ></matcha-conversation-panel>
  </div>
</div>
<!-- [ngClass]="{
  'hide-panel': (switchToConversation$ | async) && windowWidth <= 768,
  'show-panel': !(switchToConversation$ | async) && windowWidth <= 768
}" -->
