:host {
  height: 100%;
  width: 70%;
  // max-height: calc(100vh - 64px);
  // min-height: calc(100vh - 64px);
  // overflow-y: auto;
}

@media screen and (max-width: 1023px) {
  :host {
    width: 100%;
  }
}

.switchIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  z-index: 5;
}

.show-panel {
  display: block;
  // width: 100%;
}

.hide-panel {
  display: none;
}
