.chat {
  height: 100vh;
}
:host{
  width: 100%;
}
.switchIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  z-index: 5;
}

.show-panel {
  display: block;
  width: 100%;
}

.hide-panel {
  display: none ;
}
