<form
  [formGroup]="signupForm"
  (ngSubmit)="onSubmit()"
  class="relative flex h-[100%] flex-col items-center justify-center rounded-lg border-amber-50 bg-[#F2F2F0]"
>
<div class="mb-2 flex items-center"> 
  <img
      class="pl-10"
    ngSrc="../../../../../../assets/images/authIcon.png"
    width="144"
    height="144"
  />
</div>
<div class="mb-8 flex flex-col items-center">
  <p class="text-3xl">Welcome To Matcha</p>
  <p class="text-xs text-slate-400">Please enter your informations</p>
</div>
  <div class="flex w-[80%] flex-col sm:w-[70%] md:w-[60%] lg:w-1/2">
    <input
      class="SignInput"
      placeholder="Email address"
      formControlName="email"
    />
  </div>
  <div class="flex w-[80%] gap-4 sm:w-[70%] md:w-[60%] lg:w-1/2">
    <input
      class="SignInput"
      placeholder="First name"
      formControlName="first_name"
    />
    <input
      class="SignInput"
      placeholder="Last name"
      formControlName="last_name"
    />
  </div>
  <!-- <div class="flex w-[80%] flex-col sm:w-[70%] md:w-[60%] lg:w-1/2">
  </div> -->
  <div class="flex w-[80%] flex-col sm:w-[70%] md:w-[60%] lg:w-1/2">
    <input
      class="SignInput"
      placeholder="Username"
      formControlName="username"
    />
  </div>
  <div class="flex w-[80%] flex-col sm:w-[70%] md:w-[60%] lg:w-1/2">
    <input
      class="SignInput"
      placeholder="Password"
      type="password"
      formControlName="password"
    />
  </div>
  <p class="text-red-400" *ngIf="error">
    {{ error }}
  </p>
  <button
    class="mt-3 rounded-lg bg-black px-3 py-[10px] text-[#F2F2F0] disabled:bg-slate-400 w-1/2"
    type="submit"
    [disabled]="!signupForm.valid"
  >
    Sign up
  </button>
</form>
<!-- this button to refrech userLocation -->
