.SignInput {
    margin: 1rem 0rem;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding : 0.5rem 1rem  0.5rem 0.2rem;
    color : #000;
    font-size: 0.8rem;
}

.SignInput:focus {
    outline: none;
}

.SignInput::placeholder {
    color: #000;
}

