<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="relative flex h-[100%] flex-col items-center justify-center rounded-lg border-amber-50 bg-[#F2F2F0]"
>
  <div class="mb-2 flex items-center"> 
    <img
        class="pl-10"
      ngSrc="../../../../../../assets/images/authIcon.png"
      width="144"
      height="144"
    />
  </div>
  <div class="mb-8 flex flex-col items-center">
    <p class="text-3xl">Welcome To Matcha</p>
    <p class="text-xs text-slate-400">Please enter your informations</p>
  </div>
  <div class="flex w-1/3 flex-col">
    <input
      class="LoginInput"
      placeholder="Username"
      formControlName="username"
    />
  </div>
  <div class="flex w-1/3 flex-col">
    <input
      class="LoginInput"
      placeholder="Password"
      type="password"
      formControlName="password"
    />
  </div>
  <p class="text-red-400" *ngIf="error">
    {{ error }}
  </p>
  <button
    class="mt-3 rounded-lg bg-black px-3 py-2 text-[#F2F2F0] disabled:bg-slate-400 w-1/3"
    type="submit"
    [disabled]="!loginForm.valid"
  >
    Login
  </button>
</form>
<!-- this button to refrech userLocation -->
