<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="relative flex h-[80%] w-3/4 flex-col items-center justify-center gap-[5%] rounded-lg"
>
  <div class="mb-8 flex flex-col items-center">
    <p class="text-3xl text-primary-color">Welcome To Matcha</p>
    <p class="text-xs text-primary-color">Please enter your informations</p>
  </div>
  <div class="fields relative flex w-2/4 flex-col">
    <input class="LoginInput" type="text" required formControlName="username" />
    <label> USERNAME </label>
  </div>
  <div class="fields relative flex w-2/4 flex-col">
    <input
      class="LoginInput"
      type="password"
      required
      formControlName="password"
    />
    <label> PASSWORD </label>
  </div>
  <p class="text-red-400" *ngIf="error">
    {{ error }}
  </p>
  <button
    class="mt-3 w-2/4 rounded-lg bg-primary-color px-3 py-2 text-white disabled:bg-primary-color-light"
    type="submit"
    [disabled]="!loginForm.valid"
  >
    Login
  </button>
</form>
<!-- this button to refrech userLocation -->
