.select-box-container {
  display: flex;
  justify-content: space-evenly;

  .select-age {
    // background-color: #f43f5e;
    font-size: 20px;
  }
  .arrow-down {
    // color: white;
  }
  .arrow-up {
    // color: white;
    transform: rotate(180deg);
  }
}
