<div class="border">

</div>

<!-- 
<div
class="select-box-container flex w-60 items-center justify-between rounded"
>
<label for="">Age: </label>
<div class="flex items-center justify-between">
  <div class="right-0 flex flex-col items-center justify-center">
    <i
      class="material-icons arrow arrow-up cursor-pointer text-gray-800"
      (mousedown)="startDecrementing('+')"
      (mouseup)="stopIncrementing()"
      (mouseleave)="stopIncrementing()"
      (touchstart)="startDecrementing('+')"
      (touchend)="stopIncrementing()"
      >arrow_drop_down</i
    >
    <i
      class="material-icons arrow arrow-down cursor-pointer"
      (mousedown)="startDecrementing('-')"
      (mouseup)="stopIncrementing()"
      (mouseleave)="stopIncrementing()"
      (touchstart)="startDecrementing('-')"
      (touchend)="stopIncrementing()"
      >arrow_drop_down</i
    >
  </div>

  <span
    class="max-age select-age flex w-20 items-center justify-center text-gray-800"
  >
    {{ ageGape }}
  </span>

  <div class="right-0 flex flex-col items-center justify-evenly">
    <i
      class="material-icons arrow arrow-up cursor-pointer"
      (mousedown)="startIncrementingMax('+')"
      (mouseup)="stopIncrementing()"
      (mouseleave)="stopIncrementing()"
      (touchstart)="startIncrementingMax('+')"
      (touchend)="stopIncrementing()"
      >arrow_drop_down</i
    >
    <i
      class="material-icons arrow arrow-down cursor-pointer"
      (mousedown)="startIncrementingMax('-')"
      (mouseup)="stopIncrementing()"
      (mouseleave)="stopIncrementing()"
      (touchstart)="startIncrementingMax('-')"
      (touchend)="stopIncrementing()"
      >arrow_drop_down</i
    >
  </div>
</div>
</div> -->