/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  overflow: hidden;
  max-width: 100vw;
  height: 100vh;
  position: relative;
  // height: 100vh;
  // width: 100vw;
}


:root {
  --primary-color: #2B5557;
  --primary-color-light : #3E747D ;
  --secondary-color: #E1EAE9;
  --text-color : #C2CBD7;
  --text-color-light : #000000;
}
html,
body {
  height: 100%;
}
