/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primary-color: #FF676E;
    --primary-color-light : #FBC5C8 ;
    --secondary-color: #F9FAFF;
    --text-color : #7D6C62;
    --text-color-light : #C3A8A9;
}